%h1
  facts

%table.table.table-striped.datatable
  %thead
    %tr
      %th Object
      %th Category
      %th Characteristics
      %th Components
      %th Descriptors
  %tbody
    - @family_tree.each do |relation|
      - attrs = @characteristics.select do |pair|
        - pair.category == relation.child
      - components = @components.select do |pair|
        - pair.category == relation.child.name
      - descriptors = @descriptors.select do |pair|
        - pair.category == relation.child
      %tr
        %td
          - if root = relation.child.associated_root
            = link_to relation.child.name, gramercy_meta_root_path(root)
          - else
            = relation.child.name
        %td
          = relation.parent.name
        %td
          = attrs.map(&:characteristic).join(', ')
        %td
          = components.map(&:component).join(', ')
        %td
          = descriptors.map(&:descriptor).join(', ')
