%h1
  facts

.well
  = form_for(@parser, url: is_a_categories_path) do |f|
    .form-group
      %label Enter a question, or one or more statements:
      = f.text_field :text, placeholder: 'sentence', class: "form-control"
    %br.clear
    .form-group
      %label Response:
      %p.form-control
        = @parser.response


%table.table.table-striped
  %thead
    %tr
      %th
        Sentence Type
      - if @grammar_parser.interrogative
        %th
          Interrogative
      %th
        Subject
      %th
        Verb
      %th
        Predicate
      %th
        Contexts
      %th
        Positivity
  %tbody
    %tr
      %td
        = @grammar_parser.sentence_type
      - if @grammar_parser.interrogative
        %td
          = @grammar_parser.interrogative
      %td
        = @grammar_parser.subject || '-'
      %td
        = @grammar_parser.verb
      %td
        = @grammar_parser.predicate || '-'
      %td
        = @grammar_parser.contexts.map(&:name).join ", "
      %td
        = @grammar_parser.positivity

