%h1
  - if @formless
    roots queue
  - else
    roots
  .pull-right.small
    #{@roots.count} items

%p
  Add roots from the appropriate
  = link_to 'context.', gramercy_meta_contexts_path

%table.table.table-striped.datatable
  %thead
    %tr
      %th Base Form
      %th Contexts
      %th Forms
      %th
  %tbody
    - @roots.each do |root|
      - with_forms = @roots_with_forms[root.base_form]
      - next if @formless && with_forms
      %tr
        %td
          = link_to root.base_form, root
        %td
          = @roots_with_contexts[root.base_form].join(', ')
        %td
          = with_forms.to_a.join(", ")
        %td
          .pull-right
            = link_to 'Destroy', root, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs'