%h1
  roots
  .pull-right.small
    #{@roots.count} items

%table.table.table-striped
  %thead
    %tr
      %th Base Form
      %th Contexts
      %th Forms
      %th
  %tbody
    - @roots.each do |root|
      %tr
        %td
          = link_to root.base_form, root
        %td
          = @roots_with_contexts[root.base_form].join(', ')
        %td
          - if with_forms = @roots_with_forms[root.base_form]
            = with_forms.join(", ")
        %td
          .pull-right
            = link_to 'Destroy', root, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs'