%h1
  = @root.base_form
  .pull-right.small
    root

%table.table.table-striped.table-hover
  %thead
    %tr
      %th.col-md-3 Context
      %th.col-md-3 Synonyms
      %th.col-md-3 Antonyms
      %th.col-md-3 Related

  %tbody
    - @root.contexts.each do |context|
      %tr.active
        %td
          = link_to context.name, gramercy_meta_context_path(context)
        %td
          - @root.synonyms_in_context(context).to_a.each do |word|
            = link_to word.base_form, gramercy_meta_root_path(word)
            %br
        %td
          - @root.antonyms_in_context(context).to_a.each do |word|
            = link_to word.base_form, gramercy_meta_root_path(word)
            %br
        %td
          - @root.related_in_context(context).to_a.each do |word|
            = link_to word.base_form, gramercy_meta_root_path(word)
            %br

%h2 Forms

%table.table.table-striped.table-hover
  %thead
    %tr
      %th.col-md-3 Part of Speech
      %th.col-md-3 Base Form
      %th.col-md-3 Properties
      %th.col-md-3
  %tbody
    - @root.forms.each do |form|
      %tr
        %td
          = form.type
        %td
          = form.base_form
        %td
          = form.properties.map{|property| "#{property.name}=#{property.value}"}.join(", ")
        %td
          .pull-right
            = link_to 'Destroy', part_of_speech_path(form.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs', style: "width: 75px"

= link_to "Add New", new_part_of_speech_path(root_base_form: @root.base_form), class: "btn btn-small"


