%h1
  parser

%br.clear

.well
  = form_for(@parser, url: parsers_path) do |f|
    .form-group
      %label Enter a sentence:
      = f.text_field :text, placeholder: 'sentence', class: "form-control"

%br

%table.table.table-striped
  %thead
    %tr
      %th
        Sentence Type
      - if @parser.interrogative
        %th
          Interrogative
      %th
        Subject
      %th
        Verb
      %th
        Predicate
      %th
        Contexts
  %tbody
    %tr
      %td
        = @parser.sentence_type
      - if @parser.interrogative
        %td
          = @parser.interrogative
      %td
        = @parser.subject
      %td
        = @parser.verb
      %td
        = @parser.predicate
      %td
        = @parser.contexts.map(&:name).join ", "
