%h1
  = @part_of_speech.base_form
  .pull-right.small
    part of speech for #{@part_of_speech.root_word}

= form_for(PartOfSpeech.new(base_form: 'word', root_word: @part_of_speech.root_word)) do |f|
  = f.hidden_field :root_word
  .form-group
    %label Base Form
    = f.text_field :base_form, class: "form-control"
  .form-group
    %label Part of Speech
    = f.select(:type, options_for_select(PartOfSpeech::FORMS), {}, class: 'form-control', :"data-selects-visibility" => ".sub_form")
  .sub_form{'data-show-for' => 'adjective'}
    - Gramercy::PartOfSpeech::Generic::PROPERTY_LIST[:adjective].each do |property|
      %label
        = property
        .form-group
          .form-group
            = check_box_tag "part_of_speech[properties][#{property}]", 1
            true
            = check_box_tag "part_of_speech[properties][#{property}]", 0
            false
            = text_field_tag "part_of_speech[properties][#{property}]"

  .form-group
    .pull-right
      = f.submit "Add Root", class: "btn-small"
