%h1
  = @part_of_speech.base_form
  .pull-right.small
    part of speech for #{@part_of_speech.root_word}

.form.form-vertical
  = form_for(PartOfSpeech.new(base_form: @part_of_speech.root_word, root_word: @part_of_speech.root_word)) do |f|
    = f.hidden_field :root_word
    .form-group
      %label Base Form
      = f.text_field :base_form, class: "form-control"
    .form-group
      %label Part of Speech
      = f.select(:type, options_for_select(PartOfSpeech::FORMS), {}, class: 'form-control', :"data-selects-visibility" => ".sub_form")
    %label Properties
    .well
      .sub_form{'data-show-for' => 'adjective'}
        - PartOfSpeech::ADJECTIVE_ATTRIBUTES.keys.each do |type|
          - if type == :boolean_values
            - PartOfSpeech::ADJECTIVE_ATTRIBUTES[type].each do |property|
              .col-md-3
                %label
                  = property
                = check_box_tag "part_of_speech[properties][#{property}]", true, false
          - else
            - PartOfSpeech::ADJECTIVE_ATTRIBUTES[type].each do |property|
              .col-md-3
                %label
                  = property
                = text_field_tag "part_of_speech[properties][#{property}]", nil, class: "form-control"
      .sub_form{'data-show-for' => 'adverb'}
        - PartOfSpeech::ADVERB_ATTRIBUTES.keys.each do |type|
          - if type == :boolean_values
            - PartOfSpeech::ADVERB_ATTRIBUTES[type].each do |property|
              .col-md-3
                %label
                  = property
                = check_box_tag "part_of_speech[properties][#{property}]", true, false
          - else
            - PartOfSpeech::ADVERB_ATTRIBUTES[type].each do |property|
              .col-md-3
                %label
                  = property
                = text_field_tag "part_of_speech[properties][#{property}]", nil, class: "form-control"
      .sub_form{'data-show-for' => 'noun'}
        - PartOfSpeech::NOUN_ATTRIBUTES.keys.each do |type|
          - if type == :boolean_values
            - PartOfSpeech::NOUN_ATTRIBUTES[type].each do |property|
              .col-md-3
                %label
                  = property
                = check_box_tag "part_of_speech[properties][#{property}]", true, false
          - else
            - PartOfSpeech::NOUN_ATTRIBUTES[type].each do |property|
              .col-md-3
                %label
                  = property
                = text_field_tag "part_of_speech[properties][#{property}]", nil, class: "form-control"
      .sub_form{'data-show-for' => 'verb'}
        - PartOfSpeech::VERB_ATTRIBUTES.keys.each do |type|
          - if type == :boolean_values
            - PartOfSpeech::VERB_ATTRIBUTES[type].each do |property|
              .col-md-3
                %label
                  = property
                = check_box_tag "part_of_speech[properties][#{property}]", true, false
          - else
            - PartOfSpeech::VERB_ATTRIBUTES[type].each do |property|
              .col-md-3
                %label
                  = property
                = text_field_tag "part_of_speech[properties][#{property}]", nil, class: "form-control"

      %br.clear
    .form-group
      .pull-right
        = f.submit "Add Root", class: "btn-small"
