%h1
  parts of speech
  .pull-right.small
    #{@parts_of_speech.count} items

%table.table.table-striped.datatable
  %thead
    %tr
      %th Base Form
      %th Type
      %th.no_search.no_sort Properties
      %th.no_search.no_sort
  %tbody
    %tr.active.no_search.no_sort
      %td
        = form_tag('/parts_of_speech/new', method: :get)
        = text_field_tag "part_of_speech[base_form]", nil, class: "form-control"
      %td
      %td
      %td
        .pull-right
          = submit_tag("Save", class: "btn-xs")
    - @parts_of_speech.each do |word|
      - next unless word.base_form
      %tr
        %td
          = word.base_form
        %td
          = word.type
        %td
          - if with_properties = @words_with_properties[word.id]
            = with_properties.join(", ")
        %td
          .pull-right
            = link_to 'Destroy', gramercy_part_of_speech_generic_path(word), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs'
