- Gramercy::PartOfSpeech::Generic::PROPERTY_LIST[part_of_speech].keys.each do |type|
  - if type == :boolean_values
    - Gramercy::PartOfSpeech::Generic::PROPERTY_LIST[part_of_speech][type].each do |property|
      .col-md-3
        %label
          = property
        - if @generic.property(property)
          = hidden_field_tag "gramercy_part_of_speech_generic[property_attributes][#{property}]", ''
          = check_box_tag "gramercy_part_of_speech_generic[property_attributes][#{property}]", 'true', true
        -else
          = hidden_field_tag "gramercy_part_of_speech_generic[property_attributes][#{property}]", ''
          = check_box_tag "gramercy_part_of_speech_generic[property_attributes][#{property}]", 'true', false
  - else
    %br.clear
    - Gramercy::PartOfSpeech::Generic::PROPERTY_LIST[part_of_speech][type].each do |property|
      .col-md-3
        %label
          = property
        = text_field_tag "gramercy_part_of_speech_generic[property_attributes][#{property}]", @generic.property(property).try(:value), class: "form-control"
