%h1
  parts of speech
  .pull-right.small
    #{@generics.count} items

- @parts_of_speech.each do |part_of_speech|
  - if @this_part_of_speech == part_of_speech
    %b
      = part_of_speech.pluralize
      |
  - else
    = link_to part_of_speech.pluralize, gramercy_part_of_speech_generics_path(part_of_speech: part_of_speech)
    |

= form_for(@generic) do |f|
  %table.table.table-striped.datatable{style: 'margin-top: 1em; padding-top: 1em;'}
    %thead
      %tr
        %th Base Form
        %th Type
        %th.no_search.no_sort Properties
        %th.no_search.no_sort
    %tbody
      %tr.active.no_search.no_sort
        %td
          = f.text_field :base_form, placeholder: 'word'
        %td
        %td
        %td
          .pull-right
            = f.submit "Add", class: "btn btn-default btn-xs", style: "width: 75px"
      - @generics.each do |word|
        - next unless word.base_form
        %tr
          %td
            = link_to word.base_form, edit_gramercy_part_of_speech_generic_path(word)
          %td
            = word.type
          %td
            - if with_properties = @words_with_properties[word.id]
              = with_properties.join(", ")
          %td
            .pull-right
              = link_to 'Destroy', gramercy_part_of_speech_generic_path(word), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs'
