%h1
  Editing context
  = "'#{@context.name}'"

= form_for @context do |f|
  .well
    .row-fluid
      .span4
        = f.label :name, "Context Name"
        = f.text_field :name
    %br.clear
  = f.submit "Save", :class => 'btn btn-primary'

%h2
  Roots

