%h1
  contexts
  .pull-right.small
    #{@contexts.to_a.count} items

= form_for(Gramercy::Meta::Context.new) do |f|

  %table.table.table-striped
    %thead
      %tr
        %th Name
        %th Roots
        %th
    %tbody
      %tr.active
        %td
          = f.text_field :name, placeholder: 'context name'
        %td
        %td
          .pull-right
            = f.submit "Create", class: "btn btn-default btn-xs", style: "width: 75px"

      - @contexts.each do |context|
        %tr
          %td
            = link_to context.name, context
          %td
            = context.roots.count
          %td
            .pull-right
              = link_to 'Destroy', context, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs', style: "width: 75px"

