%h1
  = @context.name
  .pull-right.small
    context

.roots

  = form_for(Gramercy::Meta::Root.new) do |f|
    %table.table.table-striped.table-hover.datatable
      %thead
        %tr
          %th Root
          %th Positivity
          %th # Forms
          %th
      %tbody
        %tr.active
          %td
            = hidden_field_tag :context_id, @context.id
            = f.text_field :base_form, placeholder: 'base form'
          %td
            = text_field_tag :positivity, nil, placeholder: 'positivity'
          %td
          %td
            .pull-right
              = f.submit "Add Root", class: "btn-small"
        - @roots.each do |root|
          %tr
            %td
              = link_to root.base_form, gramercy_meta_root_path(root)
            %td
              = root.positivity > 0 ? "+#{root.positivity}" : root.positivity
            %td
              = root.forms.count
            %td
              .pull-right
                = link_to 'Destroy', gramercy_meta_root_path(root), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs', style: "width: 75px"
