%h1
  = link_to "Contexts", gramercy_meta_contexts_path
  |
  = @context.name
  = link_to :edit, edit_gramercy_meta_context_path(@context)

.roots
  %h2 Roots
  %ul
    - @roots.each do |root|
      %li
        = "#{root.base_form} (#{root.positivity})"

.root_form

  %h2 Add Root
  = form_for(Gramercy::Meta::Root.new) do |f|
    = hidden_field_tag :context_id, @context.id
    = f.text_field :base_form, placeholder: 'base form'
    = text_field_tag :positivity, nil, placeholder: 'positivity'
    = f.submit "Add Root"
